<html>
<head>
<title>Port Scanner</title>
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
<h1 style="text-align:center;">Port Scanner</h1><br/>
<table class="table table-hover table-bordered" style="width:60%;margin-left:20%">
<tr><th>Working Ports</th></tr>
{{{muldivs}}}
</table>


</body>
</html>
<script>
</script>

